html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body {
  height: 100%; }

body {
  font-family: "minion-pro", sans-serif, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4em;
  -webkit-font-smoothing: antialiased;
  margin: 0; }
  body h1 {
    color: hotpink; }

body, input, select, textarea, label, button {
  font-family: "futura-pt", sans-serif; }

.cx-checkoutpage-outer {
  height: 100%; }

.cx-line {
  position: relative;
  padding: 0em 0; }
  .cx-line::before {
    /* this is the vertical line */
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -2px;
    height: 100%;
    width: 2px;
    z-index: -10;
    background: #cccccc; }

.cx-section + .cx-section {
  margin-top: 5em; }

/**
 * Clearfix
 */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.cx-checkoutpage-billboard {
  height: 75%;
  position: relative;
  background: url("../images/billboard.jpg");
  background-size: cover;
  background-position: bottom center; }
  @media only screen and (min-width: 768px) {
    .cx-checkoutpage-billboard {
      position: fixed;
      height: 100%;
      width: calc(100% - 410px);
      margin: 0; } }

@media only screen and (min-width: 768px) {
  .cx-checkoutpage-form {
    width: 410px;
    float: right;
    box-shadow: 0px 0px 13px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    z-index: 300;
    position: relative; } }

.cx-checkoutpage-form-inner {
  height: 100%;
  margin: 1em; }

.cx-billboard-tint {
  height: 100%;
  background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(0, 0, 0, 0.65)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.65) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  /* IE6-9 */
  padding: 1em;
  position: relative; }
  @media only screen and (min-width: 768px) {
    .cx-billboard-tint {
      padding: 1.5em 0 1.5em 1.5em; } }

.cx-billboard-content {
  height: 100%;
  width: 100%;
  position: relative;
  color: white; }

.billboard-header {
  color: white;
  text-align: left;
  line-height: 1; }
  @media only screen and (min-width: 768px) {
    .billboard-header {
      font-size: 1.5em; } }

.billboard-title {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }

.subhead {
  font-weight: 700;
  font-size: .6em; }

.billboard-meta {
  position: absolute;
  bottom: 0;
  width: 100%; }

.meta-section {
  display: inline-block;
  margin-right: 1.5em; }
  .meta-section.destination {
    display: none; }
    @media only screen and (min-width: 768px) {
      .meta-section.destination {
        display: inline-block; } }
  @media only screen and (min-width: 768px) {
    .meta-section {
      display: inline-block;
      margin-right: 4em; } }

.meta-section + .meta-section {
  margin-top: 2em; }
  @media only screen and (min-width: 768px) {
    .meta-section + .meta-section {
      margin-top: 2em; } }

.meta-title {
  display: block;
  font-size: .3em;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: .5em; }

.meta-info {
  font-weight: 300;
  font-size: 1.2em; }

.cx-general-content {
  width: 90%;
  margin: 0em auto 1em;
  text-align: center;
  line-height: 1.1; }
  .cx-general-content.error {
    margin-top: 0.35em; }
  .cx-general-content .assitive-comment {
    font-size: .65em;
    width: 80%;
    margin: auto;
    background: white;
    padding: .5em 0 0.75em; }
  .cx-general-content .section-header {
    margin-bottom: 2em; }
  .cx-general-content .section-label {
    background: white;
    border: 2px solid #cccccc;
    border-radius: 2em;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    margin-bottom: .4em; }
    .cx-general-content .section-label .section-label-inner {
      font-size: .55em;
      font-weight: 700;
      position: absolute;
      color: #737373;
      left: 50%;
      top: 50%;
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%); }
  .cx-general-content .section-title {
    font-weight: 700;
    font-size: .8em;
    background: white;
    padding: .5em 0 0.75em; }

.error {
  font-size: .8em;
  font-weight: 700;
  color: red; }

.cx-checkoutpage-container {
  /* General Style */
  /* Input Style */
  /* Select Style */
  /* Select Style */ }
  .cx-checkoutpage-container input, .cx-checkoutpage-container select, .cx-checkoutpage-container textarea, .cx-checkoutpage-container label, .cx-checkoutpage-container .cx-select, .cx-checkoutpage-container textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: white;
    color: #333; }
  .cx-checkoutpage-container input::-webkit-input-placeholder {
    color: #a6a6a6; }
  .cx-checkoutpage-container input::-moz-placeholder {
    color: #a6a6a6; }
  .cx-checkoutpage-container input:-ms-input-placeholder {
    color: #a6a6a6; }
  .cx-checkoutpage-container input {
    font-size: .8em;
    width: 100%;
    margin: 0;
    border: none;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-radius: 0;
    padding: 1em;
    box-shadow: none;
    font-weight: 600;
    display: block;
    background: white; }
  .cx-checkoutpage-container input + input, .cx-checkoutpage-container input + .cx-select, .cx-checkoutpage-container .cx-select + input, .cx-checkoutpage-container textarea + input, .cx-checkoutpage-container input + textarea, .cx-checkoutpage-container textarea + .cx-select, .cx-checkoutpage-container .cx-select + textarea {
    margin-top: -2px; }
  .cx-checkoutpage-container .cx-select {
    position: relative;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-radius: 0; }
  .cx-checkoutpage-container .cx-select::after {
    content: '';
    position: absolute;
    z-index: 1;
    right: 1em;
    top: 50%;
    margin-top: 0px;
    display: block;
    width: 19px;
    height: 9px;
    background: url("../images/select-arrow-black.svg") no-repeat center center;
    pointer-events: none;
    background-size: cover;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: .5; }
  .cx-checkoutpage-container .cx-select select {
    width: 100%;
    border-radius: 0;
    font-weight: 600;
    display: block;
    position: relative;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .cx-checkoutpage-container select::-ms-expand {
    display: none; }
  .cx-checkoutpage-container .cx-select-inner {
    border: none;
    padding: 1em;
    font-size: .8em; }
  .cx-checkoutpage-container textarea {
    width: 100%;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 2px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    border-radius: 0;
    font-size: .8em;
    font-weight: 600; }
  .cx-checkoutpage-container .text-message {
    height: 6em; }

.cx-checkoutpage-container button, .cx-checkoutpage-container .button {
  background: #4A90E2;
  border-radius: none;
  line-height: 1.4;
  position: relative;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: white;
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  display: block;
  -webkit-transition: all, 0.3s;
  -moz-transition: all, 0.3s;
  transition: all, 0.3s; }
  .cx-checkoutpage-container button .button-inner-text, .cx-checkoutpage-container .button .button-inner-text {
    font-size: 1.5em; }
.cx-checkoutpage-container button:hover, .cx-checkoutpage-container .button:hover {
  background: #1D436F; }

.cx-button-container {
  width: 85%;
  margin: 2em auto 1em;
  background: white; }
