$XS:     320px;
$S:      500px;
$M:     768px;
$L:     1170px;
$XL:    1450px;
$XXL:    2000px;


$lightgray: hsl(0,0%,80%);
$lightgray-linetext: hsl(0,0%,45%);
$color-lines: $lightgray;
$color-linetext: $lightgray-linetext;